
a{
    text-decoration: none;
    margin: 4px;
    border: 2px solid black;
    padding: 6px;
    background-color:whitesmoke;
    color:black;
    font-weight:bold;
   

}

a:hover{
    color: blue;
}

span{
 
   color: cornsilk;
   margin-top: 100px;
    
}

h2{
    font-family:Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    background-color: tomato;    
}
body{
    background-image: url("https://www.wallpapertip.com/wmimgs/52-520408_holy-bible-wallpapers-open-bible-black-background.jpg")
    
}